
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

body, html {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 100%;
}

.container-fluid {
    padding: 3% 15%;
}


.centeredImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.customSize {
    width: 60%; /* Adjust the width as needed */
    height: 70%; 
    margin-left: auto;
    margin-right: auto;
}

/* navigation bar */

.navbar{
 

}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 1.5rem;
    font-weight: bold;
}
.navbar-item {
    padding: 0 12px;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

h1 {
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
    color: #000000;
   
}

h2 {
    color: #000000;
    font-family: 'Libre Baskerville';
    font-size: 1.5;
    font-weight: bold;
    margin-bottom: 5%;
}

h3 {
    font-family: 'Montserrat';
    font-weight: bold;
    margin-bottom: 3%;
}

h4{
    font-family: 'Libre Baskerville';
    font-weight: bold;
}

h5 {
    color: #ffffff;
    font-family: 'Montserrat';
    font-weight: bold;
    margin-bottom: 3%;
}

p {
    color: #4a4a4a;
    font-size: 1.15rem;
    font-weight: bold;
    font-family: 'Montserrat';
    padding-bottom: 20px;
    padding-left: 80px; 
    padding-right: 80px;
}

.abouttext{
    color: #000000;
}

.projecttext{
    color: #000000;

}

#skills{
    background-color: #ffffff;
    padding: 3%
}

#projects{
    background-color: #c2c2c2;
    padding: 7% 7%;
    background-image: url('bg6.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.link-button{
    
        font-size: 30px; /* Adjust this value to change the icon size */
        padding: 10px; /* Adjust padding to increase the button size */
        outline: none; /* Removes the outline */
        border: none; /* Removes the border */
        background: none; /* Makes the background transparent */
} 

#skills {
    background-image: url('bg.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    color: #000000;
    background-color:#000000;
}
